/* You can add global styles to this file, and also import other style files */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #DADDD8;
}

#root {
  max-width: 60%;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid #0F7173;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

  a:hover {
    color: #535bf2;
  }

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #0F7173;
}


a, button, input[type=button] {
  border-radius: 2em;
  border: 1px solid #0F7173;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0F7173;
  cursor: pointer;
  transition: all 0.25s ease-out;
  color: white;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

li > app-todo-item > div {
  display: grid;
  grid-template-columns: auto 1fr max-content auto;
  grid-gap: 10px;
  align-items: center;
  margin-bottom: 5px;
}

  li > app-todo-item > div > div:nth-of-type(1) {
    font-weight: 500;
    font-size: 18px;
  }

  li > app-todo-item > div > div:nth-of-type(2) {
    font-size: 14px;
    opacity: 0.7;
  }

.btn-sm {
  padding: 0.4em 0.5em !important;
  font-size: 80% !important;
}

.btn-danger {
  background-color: #D81159 !important;
  border: 1px solid #D81159 !important;
}

  .btn-danger:hover {
    background-color: #FF1654 !important;
    color: white !important;
  }

button:hover, input[type=button]:hover {
  border-color: #646cff;
  background-color: #B2DBBF;
  color: black;
  border: 1px solid #B2DBBF;
}

input[type=checkbox] {
  accent-color: #0F7173;
  height: 18px;
  width: 18px;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.createGrid {
  display: grid;
  grid-auto-columns: auto;
}

  .createGrid > label {
    font-weight: 500;
  }

  .createGrid > input {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
  }

  .createGrid > button {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

    .createGrid > button:nth-of-type(1) {
      margin-top: 3rem;
    }

    .createGrid > button:nth-of-type(2) {
      margin-top: 1rem;
      background-color: #DADDD8 !important;
      color: rgba(0,0,0,0.6) !important;
    }

@media (prefers-color-scheme: light) {
  : root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}
